In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv("mini_iris.csv")

# Display the first few rows
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [2]:
df.isnull()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,False,False,False,False,False
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
5,False,False,False,False,False
6,False,False,False,False,False
7,False,False,True,False,False
8,False,False,False,False,False
9,False,False,False,False,False

In [3]:
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    1
petal width (cm)     0
target               0
dtype: int64

In [6]:
df['petal length (cm)'] = df['petal length (cm)'].fillna(df['petal length (cm)'].mean())

In [7]:
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Select only feature columns (exclude 'target')
features = df.drop('target', axis=1)
target = df['target']

# Apply Min-Max Scaling(normalization)
scaler = MinMaxScaler()
scaled_features = scaler.fit_transform(features)

# Convert scaled features back into a DataFrame
scaled_df = pd.DataFrame(scaled_features, columns=features.columns)

# Add back the target column
scaled_df['target'] = target

# Show result
scaled_df.head()